.users {
  margin: 2rem auto;
  width: 90%;
  height: auto;
  max-width: 40rem;
  text-align: center;
}

.users ul {
  list-style: none;
  padding: 1rem;
}

.users li {
  border: 1px solid #ccc;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.btn-remover {
  background: red;
  color: black;
  float: right;
  border-color: transparent;
  border-radius: 150%;
}

.btn-remover:hover {
  color: whitesmoke;
  border-color: transparent;
  background: red;
  float: right;
  border-radius: 150%;
}
